# PostgreSQL — target (web / Laravel)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=department-local
PG_USERNAME=postgres
PG_PASSWORD=devops

# MySQL — source (desktop / evacer)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_MASTER_DATABASE=evacer
# Full backup (untuk transaksi / stok fisik dari invoicedetail)
MYSQL_TRX_DATABASE=evacer_fullbackup
# Full backup cabang Ngawi
MYSQL_TRX_DATABASE_NGAWI=evacer_ngawi_fullbackup
# Full backup cabang Caruban
MYSQL_TRX_DATABASE_CARUBAN=evacer_caruban_fullbackup
# Full backup pajak (untuk stok_pajak dari invoicedetail)
MYSQL_TRX_PAJAK_DATABASE=evacer_pajak_backup
MYSQL_USERNAME=root
MYSQL_PASSWORD=root123

# Opsi migrasi
MIGRATION_DEFAULT_USER_ID=1
MIGRATION_BATCH_SIZE=500
